* {
	font-family: "Open Sans";

}


a, a:hover {
	text-decoration: none;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.no-margin {
	margin: 0;
padding: 0; 
}




.header {
	background-color: #4cb1ca;
}

.header .container {
	padding: 16px 0;
}


.lang, .curr {
	color: #bef2ff;
	font-size: 13px;
	font-weight: 400;
}

.lang-menu, .curr-menu {
	padding: 0 5px;
	
	color: white;
	font-size: 13px;
}

.lang-menu:hover, .curr-menu:hover {
	
	color: white;
}

.curr {
	margin-left: 18px;
}



.header-menu {
	list-style: none;
}

.header-menu li {
	font-size: 13px;

	display: inline-block;
	

}

.header-menu li:after {
	content: "|";
	padding: 10px;
	color: white;
}

.header-menu li:last-child:after {
	content: "";
}

.header-menu li a {
	color: white;
}


.header-bottom {
	padding: 40px 0;
}

.logo {
	text-transform: uppercase;
	font-size: 30px;
	color: #656565;
	font-weight: 700;
}


.top-menu {
	margin-top: 10px;
	margin-bottom: 10px;

	list-style: none;
	display: flex;


}
.top-menu li {
	color: #656565;
	font-size: 14px;
	margin-right: 32px;
	text-transform: uppercase;
	
}

.top-menu li a {
	color: #656565;
	text-decoration: none;
	
	
}

.search-wrap {
	position: relative;
}

.search {
	height: 30px;
	width: 174px;
	padding: 10px;
	border: 1px solid #c6c6c6;
	font-size: 13px;
}

.search-icon {
	position: absolute;
	right: 9px;
	top: 8px;
	bottom: 8px;
}


.top-icon {
margin-left: 15px;
padding: 0;
}






.cart {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #656565;
}




/*Slider*/

.bx-wrapper {
	border: 0;
	margin-bottom: 0;
}

.slide-1 {
	position: relative;
}

.slide-1 span {
	font-family: "Open Sans";
	line-height: 50px;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	font-weight: 300;
	
	font-size: 28px;
	text-transform: uppercase;
}


 .slide-desc {

 	font-weight: 700;
	top: 180px;
	left: 240px;
}

.slide-item {
	color: white;
	top: 240px;
	left: 240px;
}

.slide-1 a {
	color: white;
}




/*Items*/

.products h2 {
	text-transform: uppercase;
	color: #635f57;
	font-size: 24px;
	font-weight: 400;
	margin-top: 40px;
}

.item {
	position: relative;
	border: 8px solid #ffffff;
	box-shadow: 0 0 5px #eaeaea;
	padding: 0;
	margin: 0 5px;
}

.item h3 {
	color: #464148;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.item-price {
	color: #7db122;
	font-size: 18px;
}
.item-icon {
	position: absolute;
	bottom: 5px;
	right: 15px;
}


/*Banner*/
.banner-wrap {
	border-top: 4px solid #4cb1ca;
	margin-top: 40px;
	padding-bottom: 45px;
	text-align: center;
	box-shadow: 0 0 5px #eaeaea;
	width: 236px;
}


.b-slide {
	
	text-align: center;
	position: relative;
	border: 13px solid #ffffff;
	box-shadow: 0 0 5px #eaeaea;
}

.b-slide h3 {
	padding: 20px 50px 0px 50px;
	text-transform: uppercase;
	color: #635f57;
	font-size: 24px;

}

.b-slide img {
	height: 387px;
	width: 233px;
	margin: 0 auto;
}
.btn {
	position: absolute;
	top: 400px;
	border-radius: 0;
	left: 55px;
	color: #ffffff;
	background-color: #4cb1ca;
	width: 132px;
	height: 44px;
}


.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: #7db122;
	width: 11px;
	height: 11px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
	background-color: #4cb1ca;
}

.bx-wrapper {
	box-shadow: none;
}


/*News*/

.news {
	margin-top: 30px;
	border-top: 4px solid #4cb1ca;
	text-align: center;
	box-shadow: 0 0 5px #eaeaea;
	width: 236px;
	height: 200px;

}

.news h3 {

	padding-top: 20px;
	text-transform: uppercase;
	color: #635f57;
	font-size: 24px;
}

.news p {
	color: #696969;
	font-size: 14px;
	padding: 0 24px;
}

.news hr {
	background-color: #ededed;
	width: 85px;
}

.news input {
	border: 1px solid rgba(198, 198, 198, 0.5);
}

.news-btn {
	margin-top: 20px;
	margin-bottom: 40px;
	cursor: pointer;
	background-color: #7eb123;
	height: 44px;
	width: 112px;
	font-size: 14px;
	color: #ffffff;
	border: none;
}