#field {
	margin: 0 auto;
	background-color: yellow;
	width: 960px;
	height: 960px;
	position: relative;
}


#one, #two {
	top:0;
	left: 0;
	position: absolute;
	width: 960px;
	height: 960px;
	overflow: hidden;
}

#one {
	background-color: blue;
	transition: all ease 0.1s;
}