* {
	border: 0;
	margin:0;
	/*overflow-x: hidden;*/

}


html, body {
		overflow-x: hidden;

	}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.section-1 {
	
	
	width: 100%;
	height:645px;
	min-height: 500px;
	display: flex;
	justify-content: center;

}
.main {
	height:800px;
	
	width: 100%;
	/*min-width: 630px;*/
	background-image: url(../img/car.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	
	flex-direction: column;

}
header {
	height: 80px;
	min-height: 50px;
	width: 900px;
	min-width: 630px;
	background-color: red;
	margin: 0;


		display: flex;
	justify-content: center;
	align-items: center;
}
.main-text {
	margin-top: 270px;
	
	height:  63px;

	width: 460px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	/*backdrop-filter: blur(5px);*/

	 

}
.main-text p {

	font-family: Roboto;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 24px;
	text-align: center;

	color: #000000;
	mix-blend-mode: color-burn;
}
.cons {
	width: 590px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50px;
	
	/*margin-top: 550px;*/
	



	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	text-align: center;

	color: #F2F2F2;
	
	
}



.cons p {
	margin-top: 300px;
	padding: 20px;
}


.cons1 {
	width: 590px;
	align-self: flex-end;
	margin-bottom: 60px;
	height: 50px;
	
	
	



	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 20px;
	text-align: center;

	color: #000000;
	
	
}


.cons1 a {
	margin-left: 15px;
	background: rgba(202, 87, 122, 0.5);
	padding: 15px 30px;
	

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	background: #005DFF;
	color: white;
	margin-bottom: 100px;
}


.cons1 p {
	margin-bottom: 20px;
}

.cons1 a:hover {
	opacity: 0.6;
}




.cons a {
	
	background: rgba(202, 87, 122, 0.5);
	padding: 15px 30px;
	display: inline-block;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #F0F0F0;
}

.cons a:hover {
	background: #955368;
}
	

}
.main-text p {

		color:black;
		font-family: roboto;
		font-style: medium;
		font-size: 24px;
		line-height: 28px;
		mix-blend-mode: color-burn;
}
nav {

}
nav a {
	margin-right: 30px;
}

.section-2 {
	background-color: white;
	flex-wrap: wrap;
	width: 100%;
	height: 586px;
	/*flex-direction: column;*/
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	box-shadow: -7px 32px 30px -42px #000000 inset;
		
	

}

.s-2 {
	height: 328px;
	width: 1263px;
	 box-shadow: -7px 32px 30px -42px #000000 inset;
	background-color: white; 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;



}



.box {
	margin-top: 51px;
	height: 275px;
	width: 275px;
	padding: 0;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 20px;

	color: #000000;
	
	
}


.box-r {
	
	height: 275px;
	width: 275px;
	padding: 0;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 20px;

	color: #000000;
	
	
}



.box-1 {
	margin-top: 95px;
	/*height: 335px;*/
	width: 300px;
	height: 340px;
	padding: 0;
	
	align-items: center;
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	
	
	
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 20px;

	color: #000000;
	
	
}

.box-1 p{
	margin-top: 10px;
}



.box h2, .box-r h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 25px;
	text-align: center;
	
	color: #005DFF;
}


.box-1 h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 25px;
	text-align: center;
	
	color: #005DFF;
}

.box p{
	width: 275px;
	margin-top: 10px;
	
	/*background-color:yellow;*/
}




/*.box:first-child {
	margin-left:100px;
}*/



.logo {
	height: 114px;
	width: 129px;
	margin-bottom: 24px;

}



.logo2 {
	height: 192px;
	width: 192px;
	margin-bottom: 24px;

}




.logo-1 {
	top:115%;
	width: 1200px;
	height: 122px;
	
}


.section-3 {
	background-color:#dee0e2 ;
	align-items: stretch;
	width: 100%;
	height: 650px;
	box-shadow: -7px 32px 30px -42px #000000 inset;
	display: flex;
	justify-content: center;
		
	

}


.s-3 {
	height: auto;
	width: 1263px;
	 box-shadow: -7px 32px 30px -42px #000000 inset;
	background-color: #dee0e2; 
	display: flex;
	
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;


}


.section-4 {
	background-color: #333333;
	
	width: 100%;
	height: 600px;
	
	display: flex;
	justify-content: center;
		
	

}


.s-4 {
	height: 450px;
	width: 1263px;
	 /*box-shadow: -4px 43px 70px -35px #000000;*/
	 box-shadow: -7px 32px 30px -42px #000000 inset;
	background-color:  #333333; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	justify-content: space-around;
	margin: 0;
	






}


.box-4 {
	height: 150px;
	width: 270px;
	/*background-color: red;*/
	margin-top: 54px;

	

	
	
}
.s-4w1 {
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
}

.s-4w2 {
	
	
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-wrap: wrap;
}

.box-4 h2 {
	color: #D5527B;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 25px;
	text-align: center;
}

.box-4 p{
	margin-top: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	color: #F2F2F2;



}

.logo-3 {
	height: 220px;
	width: 80px;
	margin-top: 80px;
	transform: rotate(25.8deg);
}


footer {
	width: 100%;
	height: 207px;
	background-color: #955368;
	box-shadow: 0px 12px 43px -19px #000000 inset;

}




@media all and (max-width: 600px) {


		
	.section-1 {
		width: 100%;
		height: 650px;

	}

	.main-text {
		margin-top: 200px;
		padding: 15px;
		width: 100%;

		
	}

	.main {
		width: 100%;
		height: auto;
	}

	.main-text p {
		padding: 15px;
		font-size: 22px;
		
		
	}
	
	.cons {
		width: 100%;
		/*margin-top: 300px;*/
		/*height: 400px;*/
		/*background-color: red;*/

	}
	.cons p {
		padding: 0 15px;
		margin-top: 200px;
	}
	

	.box {
		width: 275px;
	}
	.section-2, .s-2 {
		height: auto;
		width: 100%;
	}

	.s-2 {
		height: 1000px;
	}


	.box-r {
		/*display: none;*/
	}



	.section-3, .s-3,  {
		/*height: 100px;*/
	}


	.section-3 {
		height: 1500px;
	}
	 .s-4 {
		height: auto;
		width: 100%;
/*		display: flex;
		flex-direction: column;
		justify-content: flex-start;*/

		
	}
	.section-4 {
		width: 100%;
		height: 1000px;

	}

	.cons1 {
		width: 100%;
		height: auto;
		padding: 20px;
		margin-bottom: 20px;
	}

	.cons1 p {

		
	}




	.logo-3 {
		display: none;
	}

	footer {
		height: 100px;
	}

}
