html {
	
	font-family: "Lato", sans-serif;
}


body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;


}

.wrapper {
	overflow-x: hidden !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.logo-text {
	text-transform: uppercase;
	padding: 0 10px;
	font-size: 25px;
}



.header {
	padding: 25px 0px;
}

.main-content {
	height: 800px;
	background: url(../img/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}

.main-text {
	color: white;
	font-size: 18px;
}

.main-text h1 {
	text-transform: uppercase;
	font-size: 100px;
	text-align: center;
}
.main-text h1:after {
	content: "";
	display: block;
	height: 2px;
	width: 500px;
	background-color: #15a4fa;
}

.main-btn {
	width: 170px;
	height: 60px;
	
	background-color: #15a4fa;
	color: white;
}
.main-btn:hover {
	
	transition: 0;
}

#design {
	background-color: #f6f9f9;
	
	
}

.design-text {
	padding: 100px 0px;
}
.devices {
	background-color: white;

	
}
.design-item {
	padding: 60px 0;
	
}
.design-item h3 {
	color: #3b465c;
	font-size: 18px;
	padding: 30px 0;
}
.design-item p {
	font-size: 15px;
	color: #adadad;
}


#works {
	padding: 80px 0;
	background-color: #f6f9f9;
}

.work-item {
	background-color: #15a4fa;
	margin-left: 40px;
	margin-top: 40px;
	position: relative;
	z-index: 5;
	overflow: hidden;
	

}

.icon {
	visibility: hidden;
	top:40%;
	left: 45%;
	position: absolute;
	height: 42px;
	width: 42px;
	/*background-color: red;*/
}



.work-item:hover .work-img {
	opacity: 0.3;
	transition: all 0.2s;
}

.work-item:hover .icon {
	visibility: visible;
	transition: all 0.2s;
}

.work-img {
	position: relative;
	height: 220px;
	width: 320px;

}

#form {
	padding: 80px 0;
	background: url(../img/footer-bg.jpg);
	
}

#form h2 {
	color: white;
}

#form p {
	font-size: 15px;
	color: #adadad;
}

input {
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	padding: 10px;
	width: 100%;
}

textarea {
		background: transparent;
		border: 1px solid white;
		border-radius: 5px;
		color: white;
		width: 100%;
		padding: 10px;
}

form {
	padding-top: 50px;
}

label {
	color: white;
	font-size: 15px;
}

.check {
	padding: 0;

	background-color: #9aa1ab;
	border-radius: 2px;
}

.footer-btn {
	width: 150px;
	height: 40px;
	padding: 50px;
	background-color: #15a4fa;
	color: white;
}


@media screen and (max-width: 768px) {
	
	.main-text h1:after {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background-color: #15a4fa;
	text-align: center;

}

.work-item {
	width: 320px !important;
	margin-left: 0;
}

}

